<body>
<form id="auto-country-form" method="post" action="/localization" accept-charset="UTF-8" class="hidden">
  <input type="hidden" name="country_code" id="auto-country-code" value="{{ localization.country.iso_code }}">
</form>
